
.pic{
    text-align: center;
    margin-top: 25px;
    padding-bottom: 10px;
}
.aboutus{
    text-align: center;
    padding-top: 15px;
    background-color: coral;
}
.abt{
    margin-left: 20px;
    margin-right: 20px;
}