.footCont{
    background-color: #2A2F4F;
    color: white;
    /* padding-left: 15px; */
}
.FootAddr{
    padding-left: 15px;
}
.SocialIco{
    cursor: pointer;
    transition: all 0.1s ease-in-out;
}
.SocialIco:hover{
    transform: scale(1.06);
}
.Copyright{
    background-color: #394867;
    color: white;
    padding-top: 10px;
    padding-bottom: 10px;
}
footer{
    margin-top: auto;
}
.SocialIcoDiv{
    padding-top: 2px;
    background-color: #394867;
}
.AddrHeading{
    font-weight: bold;
    margin-bottom: 40px;
}
a{
    text-decoration: none !important;
}