*{
    margin: 0px;
    padding: 0px;
}
.h1{
    height: 90px;
    background-color: aqua;
    border: solid black;
    margin: 0px;
    padding: 0px;
}
.hi{
    height: 80px;
    float: left;
}
.mc{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}