*{
    margin: 0px;
    padding: 0px;
}
.header{
    height: 90px;
    background-color: #FAEDCD;
}
.hi{
    height: 80px;
    float: left;
}
.mc{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}