.fcontainer{
    display: flex;
    justify-content:space-evenly;
    margin-top: -470px;
}
.fitem{
    height:300px;
    width:300px;
    border:2px solid white;
    border-radius: 15px;
    text-align: center;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}
/* .clickme{
    padding: 0.6em 2em;
    border: none;
    outline: none;
    color: rgb(255, 255, 255);
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .clickme:before {
    content: "";
    background: linear-gradient(
      45deg,
      #ff0000,
      #ff7300,
      #fffb00,
      #48ff00,
      #00ffd5,
      #002bff,
      #7a00ff,
      #ff00c8,
      #ff0000
    );
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    -webkit-filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing-button-85 20s linear infinite;
    transition: opacity 0.3s ease-in-out;
    border-radius: 10px;
  }
  
  @keyframes glowing-button-85 {
    0% {
      background-position: 0 0;
    }
    50% {
      background-position: 400% 0;
    }
    100% {
      background-position: 0 0;
    }
  }
  
  .clickme:after {
    z-index: -1;
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: #222;
    left: 0;
    top: 0;
    border-radius: 10px;
  } */
.fitem i{
  font-size: 75px;
  border-radius: 65px;
  padding: 20px;
  margin-top: 10px;
}
#admin{
  background-image: linear-gradient(to top, #f43b47 0%, #453a94 100%);
}
#student{
  background-image: linear-gradient(to top, #e14fad 0%, #f9d423 100%);
}
#faculty{
  background-image: linear-gradient(to top, #fcc5e4 0%, #fda34b 15%, #ff7882 35%, #c8699e 52%, #7046aa 71%, #0c1db8 87%, #020f75 100%);
}
.fitem h3{
  padding-top: 10px;
  padding-bottom: 50px;
  color:black;
}
.fitem button{
  border:1.5px solid green;
  font-size: 18px;
  color:green;
  border-radius: 20px;
}