.bgLogin{
  background-image: url(https://images.pexels.com/photos/6984992/pexels-photo-6984992.jpeg?auto=compress&cs=tinysrgb&w=600);

  min-height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: bottom bottom;
}

.formCont input{
  padding: 3px;
  width: 70%;
  border-radius: 5px;
  margin: 0 auto;
}
.formCont{
  box-shadow: rgba(7, 7, 7, 0.534) 0px 7px 29px 0px;

  gap: 1rem;
  /* background-color: pink; */
  border: 2px solid black;
  height:420px;
  width:400px;
  border-radius: 10px;
}
.formCont .adminLogBtn{
  width: fit-content;
}

@media (max-width: 480px) {
  .formCont{
    min-height: 400px;
    width: 380px;
  }
  .formCont input{
    width: 75%;
    margin-top: 5px;
    padding: 6px;
    box-shadow: rgba(7, 7, 7, 0.534) 0px 7px 29px 0px;
  }
  .bgLogin{
    background-position: bottom;
  }
}
