*{
    margin: 0px;
    padding: 0px;
}
.sidebar{
    /* margin-top: 0px; */
    height: 100vh;
    width: 100%;
    background: linear-gradient(90deg, #FAEDCD 0%, #FEFAE0 100%);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    /* margin-left: 15px; */
    border-radius: 10px;
}
.sidebar nav .nav{
    /* padding-bottom: 54px;
    padding-left: 20px;
    padding-top: 40px ; */
    margin-top: 48px;
    margin-bottom: 90px;
    margin-left: 18px;
    font-size: 20px;
    font-weight: bold;
    cursor: pointer;
    text-decoration: none;
    color: black;
}
.sidebar nav .nav i{
    padding-top: 6px;
    padding-right: 10px;
}
/* #active{
    background-color:rgb(240, 225, 225);
    margin-top: 70px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    margin-right: 7px;
    border-radius: 5px;
    margin-left: 7px;
} */
.sidebar nav .active{
    background-color:rgb(240, 225, 225);
    /* margin-top: 70px; */
    padding-bottom: 10px;
    padding-top: 10px;
    /* margin-right: 7px; */
    border-radius: 5px;
    /* margin-left: 7px; */
}
.sidebar nav .nav:hover{
    color: #B3005E;
}