.sidebar{
    margin-top: 0px;
    height: 100vh;
    width: 100%;
    background-color: #ECF2FF;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-left: 15px;
    border-radius: 10px;
}
.sidebar-bottom nav .nav{
    padding-bottom: 30px;
    padding-left: 20px;
    padding-top: 20px ;
    font-size: 20px;
}
.sidebar-bottom nav .nav i{
    padding-top: 6px;
    padding-right: 10px;
}
/* #active{
    background-color:rgb(240, 225, 225);
    margin-top: 70px;
    padding-bottom: 10px !important;
    padding-top: 10px !important;
    margin-right: 7px;
    border-radius: 5px;
    margin-left: 7px;
} */
.sidebar-bottom nav .nav:hover{
    color: #B3005E;
}