.signup-container {
  display: flex;
  min-height: 100vh;
  min-height: 100svh;
  justify-content: center;
  align-items: center;
}

.signup-form {
  
  width: fit-content;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  
  box-shadow: white;
}

.signup-form form {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

input {
  min-width: 20rem;
  padding: 10px;
  box-sizing: border-box;
  margin-bottom: 10px;
}

.from-btn {
  text-align: center;
}

/* button {
  background-color: #4caf50;
  color: white;
  padding: 10px 15px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
} */

button:hover {
  background-color: #ea0d8e;
}
