.c-item{
    height: 650px;
    padding: 5px;
}
.c-item .c-img{
    height: 100%;
    width: 1300px !important;
    object-fit: fill;
    filter: brightness(0.8);
    border-radius: 7px;
}

@media (max-width: 480px){
    .c-item{
        height: 220px;
    }
    .c-item .c-img{
        max-width: 380px !important;
    }
}