/* Ca.css */
.ca {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .ca h4, .ca h3 {
    margin: 10px 0;
    text-align: center;
    color: #333;
  }
  
  .table-container {
    width: 100%;
    overflow-x: auto;
    margin-top: 20px;
  }
  
  .custom-table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
    margin-bottom: 20px;
  }
  
  .custom-table th,
  .custom-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }
  
  .custom-table th {
    background-color: #f2f2f2;
    font-weight: bold;
  }
  
  .custom-table tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .custom-table tr:hover {
    background-color: #f1f1f1;
  }
  
  .custom-table thead {
    background-color: #e2e2e2;
  }
  