/* Nav .login-bt{
    margin-right: 15px;
    border-radius: 19.2px;
    border: 2.4px solid white;
    background-color: black;
    color: white;
    font-weight: bold;
    font-size: 14.4px;
    transition: all 0.1s ease-in-out;
}

Nav .login-bt:hover{
    transform: scale(1.07);
    border-color: white;
    background-color: black;
    color: white;
} */

.OffNav{
    background: rgb(252,70,107);
    background: linear-gradient(90deg, rgba(252,70,107,1) 0%, rgba(7,13,43,1) 100%);
}

.navbar-dark .navbar-nav .NavItms {
    color: white;
    margin-right: 55px;
    font-size: 19px;
    transition: all 0.1s ease-in-out;
    text-decoration: none;
}
.navbar-dark .navbar-nav .active{
    /* width: fit-content; */
    background: linear-gradient(112.1deg, rgb(32, 38, 57) 11.4%, rgb(63, 76, 119) 70.2%);
    color: bisque;
    border-radius: 15px;
    border: solid bisque;
    border-width: 3.5px;
    padding: 2px 8px;
    font-weight: bold;
  }

  @media (max-width: 991.0px){
    .navbar-dark .navbar-nav .NavItms{
        margin-top: 0.3rem;
        margin-left: auto;
        margin-right: auto;
    }
  }
  @media (min-width: 991.1px){
    .navbar-dark .navbar-nav .NavItms:hover{
        transform: scale(1.05);
        color: bisque;
        font-weight: bold;
    }
  }