.c-item {
    /* background-blend-mode: luminosity; */
    /* width: 75%; */
    height: 30rem;
    padding: 0.5rem 0.5rem 0 0.5rem;
    /* padding-bottom: 0; */
    background: rgb(252, 70, 116);
    background: linear-gradient(90deg, rgba(252, 70, 116, 0.6615896358543417) 0%, rgba(193, 121, 192, 0.9445028011204482) 100%);
}

.c-item .c-img {
    /* opacity: 0.8; */
    margin-inline: auto;
    height: 100%;
    /* width: 1300px !important; */
    object-fit: contain;
    /* filter: brightness(0.8); */
}

@media (max-width: 480px) {
    .c-item {
        height: 15rem;
    }

    .c-item .c-img {
        object-fit: fill;
        border-radius: 7px;
        /* max-width: 380px !important; */
    }
}